/* Custom Css
   @author: Jose R Chica
   @version: 1.0
   @github: .......
************************************************************/

main[role="main"] {
    margin-top: 4rem;
    min-height: 80vh;
}


footer {
    color: #FFF;
}

/*img.responsive {
	width: 100%;
	height: auto;
}*/

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-curso {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

td {
    vertical-align: middle !important;    
}


#login i {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}




a:hover{
    color: var(--colorEnfasis);
}

.icono{
    width: 20px;
    height: 20px;
    margin: 5px;
    background-size: cover;
    cursor: pointer;
}

.instagram{
    background-image: url("../img/instagram.svg");
}

.facebook{
    background-image: url("../img/facebook.svg");
}

.twitter{
    background-image: url("../img/twitter.svg");
}

eader{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorOscuro);
    color: var(--colorBlanco);
}

#header_title{
    display: flex;
}

#header_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_img img{
    margin-right: 20px;
}

h1{
    font-size: 50px;
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
}

#footer_social{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorOscuro);
}

#footer_social_buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .col_2{
   width: calc(100% - 40px);
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.footer_menu h3{
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 19px;
    border-bottom: 2px solid var(--colorPrimario);
}

.footer_menu ul{
    list-style: none;
}

.footer_menu ul li{
    margin-bottom: 10px;
}

#footer_contacto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#movil_version{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--colorNegroOscuro);
}

#copyright{
    width: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--colorNegroOscuro);
}

